/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: ;
	background-image: url("background.jpg");
	background-attachment: fixed;
	font-family: "helvetica", Arial, sans-serif;
}

/********************************** VANAF HIER BEGINT MIJN CODE *********************************/


.header{
	height: 4em;
	background-color: white;
	position: fixed;
	width: 100%;
	box-shadow: 0px 10px 50px black;
}

.content{
	height: 45em;
	background-color: white;
	box-shadow: 0px 10px 50px black;

}

.logo{
	width: 50%;
	margin: auto;
}

.logo img{
	 margin-top: 20em;
	 margin: auto;
         width: 50%;
}

.content h2{
	/*background-color: lightgrey;*/
	padding-bottom: 1em;
  text-align: center;
	font-weight: bold;
	font-size: 2em;
}

.content p{
	/*background-color: lightgrey;*/
	float: left;
  text-align: center;
	margin-left: 30em;
	margin-right: 30em;
}

.text{
padding-top: 3em;
background-color: white;
height: 12em;
}


.text2{
padding-top: 3em;
background-color: lightgrey;
height: 12em;
}

.text3{
padding-top: 3em;
background-color: white;
height: 12em;
}



.footer{
	background-color: black;

}

.contact{
padding-top: 3em;
height: 12em;
}

.contact p{
	color: white;
	text-align: center;
}

.contact h2{
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 2em;
	margin-bottom: 1em;
}
